* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.contanier {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #262626;
}

li a {
  height: 48px;
  font-weight: 1px solid bolder;
  display: inline-block;
}

nav {
  width: 100%;
  height: 54px;
}

#links {
  width: 1600px;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#microsoft-logo {
  width: 137px;
  height: 100%;
  background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  padding: 16px 10px 16px 6px;
}

.aria-label {
  width: 1056px;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 2px 1px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singel-link {
  width: 97.1px;
  height: 48px;
  margin: 1px 4px;
  padding: 16px 8px 10px 8px;
}

.singel-link:nth-child(2n) {
  width: 59.8px;
}

.singel-link:nth-child(3n) {
  width: 78.8px;
}

.singel-link:nth-child(4n) {
  width: 60.2px;
}

.singel-link:nth-child(5n) {
  width: 46.9px;
}

.singel-link:nth-child(5n) {
  width: 52px;
}

.options {
  width: 406px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options .singel-link {
  height: 100%;
  margin: 0;
  padding: 0;
}

.options a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options .singel-link:nth-child(1n) {
  width: 143.1px;
  padding: 0px 1px 0px 2px;
}

.options .singel-link:nth-child(2n) {
  width: 90px;
  padding: 0px 6px 1px 1px;
}

.options .singel-link:nth-child(3n) {
  width: 61px;
  padding: 1px 10px 7px 0px;
}

.options .singel-link:nth-child(4n) {
  width: 90px;
}

main .cotanier {
  width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#primary-A1 {
  width: 100%;
  height: 663px;
  background-color: darkgoldenrod;
}

#hightlight {
  width: 100%;
  height: 486px;
  background-color: darkgreen;
}

.quicklink-list {
  width: 100%;
  height: 177px;
  background-color: darkslateblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
}

.quicklink-group {
  width: 554px;
  height: 144px;
  background-color: darkviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quicklink {
  height: 84px;
  background-color: dodgerblue;
}

#primary-A2 {
  width: 100%;
  height: 390.8px;
  background-color: #705104;
}

#primary-A3 {
  width: 100%;
  height: 543px;
  background-color: #041d70;
}

#primary-A4 {
  width: 100%;
  height: 419.8px;
  background-color: #22d36b;
}

.attention {
  width: 100%;
  height: 80px;
  background-color: darkred;
}
/*# sourceMappingURL=210413-microsoft切版.css.map */